.header {
    background-color: #4B2E6D; 
    padding: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 100%;
    color: #fff;
}

.nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}


.flex {
    display: flex; 
    align-items: center; 
}

.flex img {
    height: 40px; 
}

.e{
    display: flex;
    align-items: center;
}

.d{
    display: flex;
    align-items:center;
    margin-left: auto;
}

/*
.nav p {
    margin: 0 15px; 
    font-size: 16px; 
    color: #fff; 
    cursor: pointer; 
    transition: color 0.3s; 
}

.nav p:hover {
    color: #869fdf; 
}
*/
.botao {
    background-color: #2b1643;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 15px;
    width: 100%;
}
      
.botao:hover {
    background-color: #6A4E8E ;
    box-shadow: 0 4px 12px rgba(106, 27, 154, 0.4);
}

.botaoH {
    background-color: #4B2E6D;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 15px;
    width: 100%;
}
      
.botaoH:hover {
    background-color: #4B2E6D ;
    box-shadow: 0 4px 12px rgba(106, 27, 154, 0.4);
    color: #869fdf;
}