.page{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Para alinhar o título e outros elementos em coluna */
  min-height: 100vh; 
}
